@import "tailwindcss";

html, body {
  background-color: #0c0c0e;
  color: #a1a1aa; /* text-zinc-400 */
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}